global:
  checkNewVersion: false
  sendAnonymousUsage: false
log:
  level: INFO
api:
  dashboard: true
  insecure: false
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
http:
  routers:
    dashboard:
      middlewares:
        - auth
      rule: "Host(`traefik.example.com`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))" # Adjust this to match your domain
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: "api@internal"
  middlewares:
    auth:
      basicAuth:
        users:
          - "admin:encrypted_password_here" # Password should be hashed using bcrypt
certificatesResolvers:
  cloudflare:
    acme:
      email: "cloudflare_email_here" # Cloudflare email
      storage: "/var/traefik/certs/acme.json"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      keyType: EC256
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
